.stage {
  width: 100%;
  -webkit-perspective: 500;
  perspective: 500;
}

.rotate {
  height: 180px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-sizing: border-box;
  border: 1px solid black;
  overflow: hidden;
  background: white;
  text-align: center;
}

.ring {
  margin: 0 auto;
  height: 110px;
  -webkit-transform-style: preserve-3d;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  transform-style: preserve-3d;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.poster {
  position: absolute;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  color: black;
}

#ring-1 {
  animation-name: x-spin;
  animation-duration: 1.5s;
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 1.5s;
}

#ring-2 {
  animation-name: x-spin;
  animation-duration: 1.5s;
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 1.5s;
}

#ring-3 {
  animation-name: x-spin;
  animation-duration: 1.5s;
  -webkit-animation-name: x-spin;
  -webkit-animation-duration: 1.5s;
}

@-webkit-keyframes x-spin {
  0% {
    -webkit-transform: rotateX(0deg);
  }
  100% {
    -webkit-transform: rotateX(360deg);
  }
}

@keyframes x-spin {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}

.rotate0 {
  transform: rotateX(0deg) translateZ(150px);
  -webkit-transform: rotateX(0deg) translateZ(150px);
  -moz-transform: rotateX(0deg) translateZ(150px);
}

.rotate60 {
  transform: rotateX(60deg) translateZ(150px);
  -webkit-transform: rotateX(60deg) translateZ(150px);
  -moz-transform: rotateX(60deg) translateZ(150px);
}

.rotate120 {
  transform: rotateX(120deg) translateZ(150px);
  -webkit-transform: rotateX(120deg) translateZ(150px);
  -moz-transform: rotateX(120deg) translateZ(150px);
}

.rotate180 {
  transform: rotateX(180deg) translateZ(150px);
  -webkit-transform: rotateX(180deg) translateZ(150px);
  -moz-transform: rotateX(180deg) translateZ(150px);
}

.rotate240 {
  transform: rotateX(240deg) translateZ(150px);
  -webkit-transform: rotateX(240deg) translateZ(150px);
  -moz-transform: rotateX(240deg) translateZ(150px);
}

.rotate300 {
  transform: rotateX(300deg) translateZ(150px);
  -webkit-transform: rotateX(300deg) translateZ(150px);
  -moz-transform: rotateX(300deg) translateZ(150px);
}

.rotate360 {
  transform: rotateX(360deg) translateZ(150px);
  -webkit-transform: rotateX(360deg) translateZ(150px);
  -moz-transform: rotateX(360deg) translateZ(150px);
}
