body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: #000;
    padding:40px;
}

.continer {
    max-width: 1024px;
    margin: 0 auto;
}

.col {
    width: 33.33%;
    height:200px;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.colnoborder {
    width: 33.33%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.col .img-wrap {
        border: 1px solid #ccc;
        text-align: center;
        padding: 10px;
}

.col .img-wrap .game-image {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#playButton {
  cursor: pointer;
}

#bonusButton {
  cursor: pointer;
  display: none;
}

#slotRotation {
  display:none;
}

@media only screen and (orientation:portrait){
  #warning {
    display: block;
  }
}
@media only screen and (orientation:landscape){
  #warning {
     display:none;
  }
}
