body {
    font-family: 'Roboto', 'Sans Serif';
    font-size: 16px;
    padding: 0;
    margin: 0;
}

.continer {
    max-width: 1024px;
    margin: 0 auto;
}

.col {
    width: 33.33%;
    height:200px;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.colnoborder {
    width: 33.33%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.colheader {
    width: 33.33%;
    overflow: hidden;
    float: left;
    text-align: center;
    padding: 20px;
    height:120px;
    box-sizing: border-box;
}

.col .img-wrap {
        border: 1px solid #ccc;
        text-align: center;
        padding: 10px;
}

.col .img-wrap .game-image {
    max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

#playButton {
  cursor: pointer;
}

#bonusButton {
  cursor: pointer;
  display: none;
}

#slotRotation {
  display:none;
}

#pointsImage  {
  width:5%;
  height:50px;
  float:left;
  padding:20px;
}

#points {
  font-size:36px;
  padding-top:25px;
  padding-bottom: 25px;
  padding-right: 25px;
  width:20%;
  float:left;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}

#gameInfo {
  float:left;
  padding:25px;
  width:60%;
  font-size:36px;
  display: inline-block;
  text-align: left;
  font-weight: bold;
  padding-left: 40px;
}

@media only screen and (orientation:portrait){
  #warning {
    display: block;
  }
}
@media only screen and (orientation:landscape){
  #warning {
     display:none;
  }
}
